#headerImages
{
    display: block;
}

.headerBackgroundImage {
    display:block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#rotateImageOne {
    background-image: url("../images/headerOne.jpg");
    background-size: 100% 100%;
    background-repeat: none;
}

#rotateImageTwo {
    background-image: url("../images/headerTwo.jpg");
    background-size: 100% 100%;
    background-repeat: none;
}

#rotateImageThree {
    background-image: url("../images/headerThree.jpg");
    background-size: 100% 100%;
    background-repeat: none;
}

#rotateImageFour {
    background-image: url("../images/headerFour.jpg");
    background-size: 100% 100%;
    background-repeat: none;
}

.headerBackgroundImage .start
{
    position: relative;
    display: block;
    width: 50%;
    height: 350px;
    top: 500px;
    left:100%;
    background-color: white;
    opacity: 0.75;
    font-weight: bold;
    padding: 1%;
}

.headerBackgroundImage .finish
{
    position: relative;
    display: block;
    width: 50%;
    height: 350px;
    top: 500px;
    left:48%;
    background-color: white;
    opacity: 0.75;
    font-weight: bold;
    padding: 1%;
}

